//igserver02.intelligentgraphics.biz:88/:_authToken="Ta7sBj+Opc8JcaCqgg1v/O7/ExQ4fJ+u+AoPKQXo05I="
//registry=https://registry.npmjs.org/
registry.npmjs.org/:_authToken=b5f2050c-b528-4fa7-8dea-550d47b1ecfe
//registry.npmjs.org/:_authToken=bf8c00f0-449f-4ef2-b196-82f9301222ae
package-lock=false
